@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

body.disable-scroll {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    align-items: center;
}


.navbar__logo a {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding-left: 120px;
}

.navbar__about {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    padding-right: 120px;
}

.navbar__about a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    gap: 10px
}

.navbar__about a::after {
    background-color: white;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: flex;
    align-items: center;
    height: 4px;
    left: 0;
    background: #fff;
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0;
}

.navbar__about a:hover::after {
    width: 100%;
    left: 0;
}

.hamburger {
    display: none;
}

.bar {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 4px;
    margin: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.hero {
    background-color: black;
    padding: 20px;
    padding-top: 180px;
    padding-bottom: 180px;
    display: flex;
    justify-content: space-between;
    
}

.hero__about {
    width: 100%;
    max-width: 600px;
    padding-left: 120px
}

.hero__about h1 {
    color: white;
    font-size: 40px;
}

.hero__about p {
    color: white;
}

.hero__img {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.hero__img img {
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    padding-right: 120px;
}

.hero__button {
    display: flex;
    gap: 13px;
}

.button__gallery {
    width: 80px;
    padding: 8px;
    border-radius: 20px;
    background-color: white;
    border: white solid 2px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.button__gallery:hover {
    background-color: black;
    border: white solid 2px;
    color: white;
    transition: 0.3s;
}

.button__contact {
    width: 80px;
    padding: 8px;
    border-radius: 20px;
    background-color: black;
    border: white solid 2px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.button__contact:hover {
    background-color: white;
    border: white solid 2px;
    color: black;
    transition: 0.3s;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.content__title h1 {
    text-align: center;
    margin-bottom: 50px;
}

.content__img {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.content__img img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.toTop {
    background-color: #fff;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    font-size: 25px;
    width: 100%;
    max-width: 40px;
    height: 100%;
    max-height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 1;
    transform: translateY(100px);
    transition: all .5s ease;
    margin: 50px;
    padding: 5px 5px 5px 5px;
    align-items: center;
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    display: flex;
    padding: 20px;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
}


.footer__title {
    width: 100%;
    max-width: 300px;
}

.footer__title h1 {
    color: white;
    font-size: 35px;
}

.footer__contact {
    width: 100%;
    max-width: 300px;
}

.footer__icon {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer__icon a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 100%;
    height: 100%;
    max-width: 20px;
    max-height: 40px;
}

.footer__content {
    width: 100%;
    max-width: 600px;
}

.footer__email {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.footer__copyright {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1181px) {
    .hero__img img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .hero__img img {
        display: none;
    }

    .toTop {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .footer__content {
        width: 100%;
        max-width: 300px;
    }

    .body__noscroll {
        overflow: hidden;
    }

    .navbar {
        justify-content: space-between;
        z-index: 99;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
    }

    .navbar__logo a {
        padding-left: 50px;
    }

    .footer__title a {
        font-size: 23px;
        padding-left: 50px;
    
    }

    .navbar__about {
        position: fixed;
        left: -100%;
        top: 0;
        z-index: -1;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        padding-right: 0;
    }

    .navbar__about.active {
        left: 0;
    }

    .navbar__item {
        margin-top: 120px;
        
    }

    .hero__about {
        padding-left: 10px;
    }

    
    .hamburger {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        cursor: pointer;
        z-index: 99;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

